/bin/
/abc.txt
/build.xml
/cluster6_1.dat
/cluster6_10.dat
/cluster6_2.dat
/cluster6_3.dat
/cluster6_4.dat
/cluster6_5.dat
/cluster6_6.dat
/cluster6_7.dat
/cluster6_8.dat
/cluster6_9.dat
/CopyRight.txt
/count.txt
/denmark.gif
/denmark.mid
/dictionary.txt
/Exercise19_1
/Exercise19_2.dat
/Exercise19_5.dat
/Exercise19_6.dat
/Exercise19_7.dat
/Exercise9_18.txt
/f1.txt
/f2.dat
/grades.txt
/Graph.txt
/india.gif
/m1.txt
/m2.txt
/norway.gif
/o.gif
/PE8.dat
/rebuild.dat
/source.dat
/uk.gif
/Untitled3.java
/us.gif
/x.gif
/image/
/TestDirectory/
/audio/
